$border-color: #444444;
$text-large-size: 11px;
$text-small-size: 12px;

.top-menu {
    height:30px;
    background: #000;

    .row{
        height:100%;
    }

    a, span {
        color: white;
        font-family: arial;
        height:100%;
    }
}

.top-menu__customer-care,
.top-menu__navigation{
    vertical-align: middle;
    height:100%;
}

.top-menu__customer-care {
    margin-left: 10px;
    text-transform: uppercase;

    span {
        font-size: $text-large-size;
    }
}

.top-menu__navigation {
    text-align: right;
    text-transform: uppercase;
    display: flex;

    a {
        vertical-align: middle;
        border-left: 1px solid $border-color;
        padding: 0 14px;
    }
}
