<div class="container">
    <div class="row main-menu">
        <div class="main-menu__logo-container">
            <a href="#"><img src="/images/logo.jpg" alt="Lookshop"></a>
        </div>
        <nav class="main-menu__navigation">
            <a href="#">new</a>
            <a href="#">designer</a>
            <a href="#">women</a>
            <a href="#">men</a>
            <a href="#">clearence</a>
            <div class="mini-cart">
                <button class="mini-cart__dropdown">Your cart</button>
                <a class="mini-cart__link">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <div class="mini-cart__summary">
                        0 Items | $ 0
                    </div>
                </a>
            </div>
        </nav>
    </div>
</div>
