<div class="row top-menu">
    <div class="top-menu__customer-care col-12 col-sm-auto">
        <span>Custom Care : 88-366-4039</span>
    </div>
    <nav class="top-menu__navigation col">
        <a href="#">US</a>
        <a href="#">My account</a>
        <a href="#">S</a>
    </nav>
</div>
