<div class="container">
    <div class="row top-menu">
        <div class="top-menu__custom">
            <span>Custom Care 514-555-5555</span>
        </div>
        <nav class="top-menu__navigation">
            <a href="#">$ US</a>
            <a href="#">My Account</a>
            <a href="#">Search</a>
        </nav>
    </div>
</div>
