<div class="container">
    <div class="row top-menu">
        <div class="top-menu__custom">
            <span>Custom Care 514-555-5555</span>
        </div>
        <nav class="top-menu__navigation">
            <a href="#"><i class="fa fa-usd" aria-hidden="true"></i>US</a>
            <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>My Account</a>
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>
